
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metamorphous&family=Noto+Sans+Caucasian+Albanian&display=swap');
@import "tailwindcss";



@theme {
    --font-primary: 'Metamorphous', serif;
    --font-secondary: 'Noto Sans Caucasian Albanian', sans-serif;
}

