
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Metamorphous&family=Noto+Sans+Caucasian+Albanian&display=swap');
@import "tailwindcss";



@theme {
    --font-primary: 'Cormorant Garamond', serif;
    --font-secondary: 'Inter', sans-serif;
}

